body
{
    background-color: darkred;
    color: black;
}

header 
{
    background-color: orange;
    padding: 50px 50px 50px 50px;
}

footer 
{
    background-color: orange;
    padding: 50px 50px 50px 50px;

}


h1
{
    color: black;
}

a 
{
    color: orange;
}

article
{
    background-color: pink;
    width: 500px;
    margin-bottom: 40px;
    border: 3px solid white;
    text-align: left;
}

